body {
  margin: 0;
  line-height: inherit;
  background: azure;
}
.cardsDetails {
  background: azure;
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
*/ .row {
  align-content: center;
  margin-left: 200px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    border-radius: 10px;

    display: block;
    margin-bottom: 0px;
  }
}

/* Style the counter cards */
.cards {
  width: 250px;
  height: 270px;
  display: inline-block;
  border-radius: 10px;
  /* padding:15px 25px; */
  box-sizing: border-box;
  cursor: pointer;
  margin: 40px 150px;
  background-position: center;
  background-color: greenyellow;
}
h2.name {
  left: 190px;
  bottom: 30px;
  position: relative;
  font-size: 20px;
  font-family: ui-rounded;
  text-align: left;
}
.images {
  width: 250px;
  height: 270px;
  border-radius: 10px;
}
.images:hover {
  transform: translateY(-10px);
}
.App {
  text-align: center;
}

.App h2 {
  font-weight: 600;
  color: #002bff;
  font-size: larger;
}

.App input {
  border: 2px solid gray;
  width: 20%;
  height: 35px;
  border-radius: 4px;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
